@import url("https://use.typekit.net/rsw3bla.css");

#cards {
    display: flex;
    flex-direction: column;

    .boxes-container {
        display: flex;
        justify-content: space-between;
        font-family: rubik, sans-serif;

        .card-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width:19%;
            padding: 10px 0;
            margin: 20px 0px;
            background-color: #1A1A1A;
            border-radius: 10px;
            color: white;

            .card-title-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height:80px;
                
                .card-title {
                    text-align: center;
                    width:70%;
                    font-size: 15px;
                }
            }

            .but {
                width:70%;
                background:none;
                border: 2px solid white;
                border-radius: 10px;
                transition: all 0.5s;
            }

            .but:hover {
                border: 1px solid #FF6801;
                color: #FF6801;
            }
        }
    }
}

/*PROS */

.pros-container {
    display: flex;
    justify-content: space-between;
    font-family: rubik, sans-serif;
    margin: 10px 0px;

    .pros {
        display: flex;
        align-items: center;
        gap:5px;
        width:19%;
        font-size: 10px;
        color:white;
    }

    .pros-img {
        width:50px;
    }
}

@media (max-width:900px) {
    #cards {
        .boxes-container {
            width:200%;
        }
    }
    .card-general-container {
        overflow-x: scroll;
        scroll-snap-type: none;
        margin: 20px 0;
    }

    .pros-container {
        width:200%;
    }
}

@media (max-width:650px) {

    #cards {
        .boxes-container{
            .card-container{
                .card-title-container{
                    .card-title {
                        font-weight: lighter;
                    }
                }

                .but {
                    font-size: 8px;
                    width:50%;
                }
            }
        }
    }

    .pros-container {
        .pros{
            font-size: 7px;
        }

        .pros-img {
            width:40px;
        }
    }
}