@import url("https://use.typekit.net/rsw3bla.css");

footer {
    font-family: rubik, sans-serif;
    
    .footer-top {
        display: flex;
        justify-content: center;
        gap:50px;
        padding: 8%;

        .left {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            .left-title-img {
                width:50%;
            }
            
            .left-img {
                width: 50px;
            }

            .left-img1 {
                width:30px;
            }
        }

        .middle {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width:30%;
        }

        .right {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width:25%;

            .footer-text-container {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .left-img1 {
                width:20px;
            }
        }
    }

    .footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FF6801;
        height:80px;
        padding: 0 10%;

        .join-bottom {
            background: none;
            width: 300px;
            border: 2px solid white;
            color:white;
            height:40px;
            border-radius: 10px;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.5s;
        }
   
        .join-bottom:hover {
            background-color: #ab4403;
        }
        
        .foot-text {
            color: white;
            width:50%;
            text-align: end;
        }
    }
}

@media (max-width:900px) {
    footer {
        margin-top:40px;

        .footer-top{
            .left {
                .left-img {
                    width:10px;
                } 
            
                .left-title-img {
                    width:100px;
                }

                
            }

            .middle {
                font-size: 10px;
            } 

            .right {
                font-size: 10px;

                .left-img1 {
                    width:15px;
                }
            } 
        }
    }

    .footer-bottom {
        .join-bottom {
            width:200px;
            font-size: 15px;
        }
    }
}

@media (max-width:650px) {
    footer {
        .footer-top {
            padding:15%;

            .right {
                .footer-text-container {
                    flex-direction: column;
                    align-items: flex-start;
                }
                
            }
        }
        
        .footer-bottom {
            .join-bottom {
                width:100px;
                font-size: 10px;
            }
            .foot-text {
                font-size: 10px;
            }
        }
    }
   

    

    
}