@import url("https://use.typekit.net/rsw3bla.css");

$backgroundGray: #333333;
$orange: #FF6801;

main {
    position:relative;
    top:70px;
    padding: 0 5%;
    background-color: $backgroundGray;
    z-index: 0;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/FE Test v2/assets/hero-banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:360px;
    color:white;
    font-family: rubik, sans-serif;

    .welcome-bonus {
        display: flex;
        flex-direction: column;
        gap:10px;
        width:330px;
        left:5%;
        position: relative;
        font-size: 25px;

        .but {
            width:100%;
            height:50px;
            border-radius: 10px;
            border: 2px solid white;
        }
    }

    .benefits {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        position:relative;
        width:30%;
        right:5%;

        .but {
            width: 120px;
            border: 2px solid $orange;
            border-radius: 10px;
            background: none;
            color: $orange;
        }
    }
}

@media (max-width:900px) {
    .welcome-bonus {
        width:200px;
        font-size: 15px;
    }
}

@media (max-width:600px) {
    .hero-section{
        height:200px;

        .welcome-bonus {
            width:100px;
            font-size: 10px;
        }

        .benefits {
            width:200px;
            font-size: 8px;
            position: absolute;
            top: 5px;
            right:10%;

            .but {
                width:60px;
                height: 20px;
                font-size: 7px;
            }

            .benefits-title {
                text-align: end;
            }
        }
    }
}