@import url("https://use.typekit.net/rsw3bla.css");


* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #333333;
    color:white;
    font-family: rubik, sans-serif;
    box-shadow: 0px 0px 20px black;
    z-index:1;
}

.nav-casino-name {
    display: flex;
    justify-content: center;
    width: 25%;
}

.nav-logo {
    height:40px;
}

.nav-ul-container {
    width:40%;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
}

.nav-li {
    list-style: none;
}

.nav-a {
    text-decoration: none;
    color:white;
}

.nav-join-login {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap:10px;
    width:25%;
}

.but {
    background-color: #FF6801;
    width: 15%;
    height:30px;
    border-radius: 50px;
    border: none;
    color:white;
    cursor: pointer;
}