@import url("https://use.typekit.net/rsw3bla.css");

.games-bigcontainer {
    display: flex;
    gap: 20px;
    width:100%;
    font-family: rubik, sans-serif
}

.games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 50%;
    background-color:#1A1A1A ;
}

.games-title {
    color:white;
    text-align: center;
}

.games-subtitle {
    color:#FF6801;
    font-size: 12px;
}

.games-section {
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0;
}

.template-games-container {
    width:100%;
    display: flex;
    gap:10px;
}

@media (max-width:900px) {
    .template-games-container {
        width:150%;
    }

    .games-section {
        overflow: hidden;
    }
}

@media (max-width:600px) {
    .games-title {
        font-size: 15px;
    }

    .games-subtitle {
        font-size: 10px;
    }

    .games-bigcontainer {
        flex-direction: column;
    }

    .games-container {
        width:100%;
    }
}

